In [8]:
import pandas as pd
import matplotlib.pyplot as plt
#import geopandas as gpd

In [6]:
Confirmed_url ='https://raw.githubusercontent.com/NarenderSinghRana/datasets/master/Covid/time_series_2019-ncov-Confirmed.csv' 
Recovered_url ='https://raw.githubusercontent.com/NarenderSinghRana/datasets/master/Covid/time_series_2019-ncov-Recovered.csv'
Deaths_url    ='https://raw.githubusercontent.com/NarenderSinghRana/datasets/master/Covid/new%20time_series_2019-ncov-Deaths.csv'

In [22]:
df_conf  = pd.read_csv(Confirmed_url)
df_rcvrd = pd.read_csv(Recovered_url)
df_death = pd.read_csv(Deaths_url)

## AUDIT

In [30]:
df_conf.shape  #(74, 49)
df_rcvrd.shape #(74, 49)
df_death.shape #(74, 49)

df_conf.index  #RangeIndex(start=0, stop=74, step=1)
df_rcvrd.index #RangeIndex(start=0, stop=74, step=1)
df_death.index #RangeIndex(start=0, stop=74, step=1)

df_conf.columns
df_rcvrd.columns
df_death.columns
#df_conf.values

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/21/20 22:00',
       '1/22/20 12:00', '1/23/20 12:00', '1/24/20 0:00', '1/24/20 12:00',
       '1/25/20 0:00', '1/25/20 12:00', '1/25/20 22:00', '1/26/20 11:00',
       '1/26/20 23:00', '1/27/20 9:00', '1/27/20 19:00', '1/27/20 20:30',
       '1/28/20 13:00', '1/28/20 18:00', '1/28/20 23:00', '1/29/20 13:30',
       '1/29/20 14:30', '1/29/20 21:00', '1/30/20 11:00', '1/31/20 14:00',
       '2/1/20 10:00', '2/2/20 21:00', '2/3/20 21:00', '2/4/20 9:40',
       '2/4/20 22:00', '2/5/20 9:00', '2/5/20 23:00', '2/6/20 9:00',
       '2/6/20 14:20', '2/7/20 20:13', '2/7/20 22:50', '2/8/20 10:24',
       '2/8/20 23:04', '2/9/20 10:30', '2/9/20 23:20', '2/10/20 10:30',
       '2/10/20 19:30', '2/11/20 10:50', '2/11/20 20:44', '2/12/20 10:20',
       '2/12/20 22:00', '2/13/20 10:00', '2/13/20 21:15', '2/14/20 11:23'],
      dtype='object')

In [32]:
df_conf.describe()
df_conf.info()
df_rcvrd.info()
df_death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 49 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  53 non-null     object
 1   Country/Region  74 non-null     object
 2   Lat             74 non-null     float64
 3   Long            74 non-null     float64
 4   1/21/20 22:00   16 non-null     float64
 5   1/22/20 12:00   29 non-null     float64
 6   1/23/20 12:00   37 non-null     float64
 7   1/24/20 0:00    38 non-null     float64
 8   1/24/20 12:00   40 non-null     float64
 9   1/25/20 0:00    42 non-null     float64
 10  1/25/20 12:00   43 non-null     float64
 11  1/25/20 22:00   43 non-null     float64
 12  1/26/20 11:00   49 non-null     float64
 13  1/26/20 23:00   49 non-null     float64
 14  1/27/20 9:00    50 non-null     float64
 15  1/27/20 19:00   51 non-null     float64
 16  1/27/20 20:30   52 non-null     float64
 17  1/28/20 13:00   53 non-null     float64
 18  1/28/20 18:00   53 non-null     float64
 19  1/28/20 23:00   53 non-null     float64
 20  1/29/20 13:30   56 non-null     float64
 21  1/29/20 14:30   55 non-null     float64
 22  1/29/20 21:00   57 non-null     float64
 23  1/30/20 11:00   59 non-null     float64
 24  1/31/20 14:00   65 non-null     float64
 25  2/1/20 10:00    67 non-null     float64
 26  2/2/20 21:00    68 non-null     float64
 27  2/3/20 21:00    69 non-null     float64
 28  2/4/20 9:40     70 non-null     float64
 29  2/4/20 22:00    70 non-null     float64
 30  2/5/20 9:00     70 non-null     float64
 31  2/5/20 23:00    71 non-null     float64
 32  2/6/20 9:00     71 non-null     float64
 33  2/6/20 14:20    71 non-null     float64
 34  2/7/20 20:13    72 non-null     float64
 35  2/7/20 22:50    72 non-null     float64
 36  2/8/20 10:24    72 non-null     float64
 37  2/8/20 23:04    72 non-null     float64
 38  2/9/20 10:30    72 non-null     float64
 39  2/9/20 23:20    72 non-null     float64
 40  2/10/20 10:30   72 non-null     float64
 41  2/10/20 19:30   72 non-null     float64
 42  2/11/20 10:50   73 non-null     float64
 43  2/11/20 20:44   73 non-null     float64
 44  2/12/20 10:20   73 non-null     float64
 45  2/12/20 22:00   73 non-null     float64
 46  2/13/20 10:00   73 non-null     float64
 47  2/13/20 21:15   74 non-null     int64
 48  2/14/20 11:23   74 non-null     int64
dtypes: float64(45), int64(2), object(2)
memory usage: 28.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 49 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  53 non-null     object
 1   Country/Region  74 non-null     object
 2   Lat             74 non-null     float64
 3   Long            74 non-null     float64
 4   1/21/20 22:00   1 non-null      float64
 5   1/22/20 12:00   1 non-null      float64
 6   1/23/20 12:00   2 non-null      float64
 7   1/24/20 0:00    3 non-null      float64
 8   1/24/20 12:00   5 non-null      float64
 9   1/25/20 0:00    6 non-null      float64
 10  1/25/20 12:00   6 non-null      float64
 11  1/25/20 22:00   6 non-null      float64
 12  1/26/20 11:00   8 non-null      float64
 13  1/26/20 23:00   8 non-null      float64
 14  1/27/20 9:00    9 non-null      float64
 15  1/27/20 19:00   9 non-null      float64
 16  1/27/20 20:30   9 non-null      float64
 17  1/28/20 13:00   10 non-null     float64
 18  1/28/20 18:00   10 non-null     float64
 19  1/28/20 23:00   12 non-null     float64
 20  1/29/20 13:30   14 non-null     float64
 21  1/29/20 14:30   18 non-null     float64
 22  1/29/20 21:00   19 non-null     float64
 23  1/30/20 11:00   21 non-null     float64
 24  1/31/20 14:00   23 non-null     float64
 25  2/1/20 10:00    26 non-null     float64
 26  2/2/20 21:00    29 non-null     float64
 27  2/3/20 21:00    35 non-null     float64
 28  2/4/20 9:40     32 non-null     float64
 29  2/4/20 22:00    32 non-null     float64
 30  2/5/20 9:00     33 non-null     float64
 31  2/5/20 23:00    33 non-null     float64
 32  2/6/20 9:00     33 non-null     float64
 33  2/6/20 14:20    35 non-null     float64
 34  2/7/20 20:13    37 non-null     float64
 35  2/7/20 22:50    38 non-null     float64
 36  2/8/20 10:24    72 non-null     float64
 37  2/8/20 23:04    72 non-null     float64
 38  2/9/20 10:30    72 non-null     float64
 39  2/9/20 23:20    72 non-null     float64
 40  2/10/20 10:30   72 non-null     float64
 41  2/10/20 19:30   72 non-null     float64
 42  2/11/20 10:50   73 non-null     float64
 43  2/11/20 20:44   73 non-null     float64
 44  2/12/20 10:20   73 non-null     float64
 45  2/12/20 22:00   73 non-null     float64
 46  2/13/20 10:00   73 non-null     float64
 47  2/13/20 21:15   74 non-null     int64
 48  2/14/20 11:23   74 non-null     int64
dtypes: float64(45), int64(2), object(2)
memory usage: 28.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 49 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  53 non-null     object
 1   Country/Region  74 non-null     object
 2   Lat             74 non-null     float64
 3   Long            74 non-null     float64
 4   1/21/20 22:00   0 non-null      float64
 5   1/22/20 12:00   0 non-null      float64
 6   1/23/20 12:00   0 non-null      float64
 7   1/24/20 0:00    3 non-null      float64
 8   1/24/20 12:00   3 non-null      float64
 9   1/25/20 0:00    3 non-null      float64
 10  1/25/20 12:00   3 non-null      float64
 11  1/25/20 22:00   4 non-null      float64
 12  1/26/20 11:00   5 non-null      float64
 13  1/26/20 23:00   5 non-null      float64
 14  1/27/20 9:00    6 non-null      float64
 15  1/27/20 19:00   7 non-null      float64
 16  1/27/20 20:30   7 non-null      float64
 17  1/28/20 13:00   7 non-null      float64
 18  1/28/20 18:00   7 non-null      float64
 19  1/28/20 23:00   7 non-null      float64
 20  1/29/20 13:30   7 non-null      float64
 21  1/29/20 14:30   8 non-null      float64
 22  1/29/20 21:00   8 non-null      float64
 23  1/30/20 11:00   8 non-null      float64
 24  1/31/20 14:00   8 non-null      float64
 25  2/1/20 10:00    9 non-null      float64
 26  2/2/20 21:00    10 non-null     float64
 27  2/3/20 21:00    10 non-null     float64
 28  2/4/20 9:40     10 non-null     float64
 29  2/4/20 22:00    11 non-null     float64
 30  2/5/20 9:00     13 non-null     float64
 31  2/5/20 23:00    13 non-null     float64
 32  2/6/20 9:00     13 non-null     float64
 33  2/6/20 14:20    13 non-null     float64
 34  2/7/20 20:13    15 non-null     float64
 35  2/7/20 22:50    16 non-null     float64
 36  2/8/20 10:24    72 non-null     float64
 37  2/8/20 23:04    72 non-null     float64
 38  2/9/20 10:30    72 non-null     float64
 39  2/9/20 23:20    72 non-null     float64
 40  2/10/20 10:30   72 non-null     float64
 41  2/10/20 19:30   72 non-null     float64
 42  2/11/20 10:50   73 non-null     float64
 43  2/11/20 20:44   73 non-null     float64
 44  2/12/20 10:20   73 non-null     float64
 45  2/12/20 22:00   73 non-null     float64
 46  2/13/20 10:00   73 non-null     float64
 47  2/13/20 21:15   74 non-null     int64
 48  2/14/20 11:23   74 non-null     int64
dtypes: float64(45), int64(2), object(2)
memory usage: 28.5+ KB

In [35]:
df_conf.isna().sum()
df_rcvrd.isna().sum()
df_death.isna().sum()

Province/State    21
Country/Region     0
Lat                0
Long               0
1/21/20 22:00     74
1/22/20 12:00     74
1/23/20 12:00     74
1/24/20 0:00      71
1/24/20 12:00     71
1/25/20 0:00      71
1/25/20 12:00     71
1/25/20 22:00     70
1/26/20 11:00     69
1/26/20 23:00     69
1/27/20 9:00      68
1/27/20 19:00     67
1/27/20 20:30     67
1/28/20 13:00     67
1/28/20 18:00     67
1/28/20 23:00     67
1/29/20 13:30     67
1/29/20 14:30     66
1/29/20 21:00     66
1/30/20 11:00     66
1/31/20 14:00     66
2/1/20 10:00      65
2/2/20 21:00      64
2/3/20 21:00      64
2/4/20 9:40       64
2/4/20 22:00      63
2/5/20 9:00       61
2/5/20 23:00      61
2/6/20 9:00       61
2/6/20 14:20      61
2/7/20 20:13      59
2/7/20 22:50      58
2/8/20 10:24       2
2/8/20 23:04       2
2/9/20 10:30       2
2/9/20 23:20       2
2/10/20 10:30      2
2/10/20 19:30      2
2/11/20 10:50      1
2/11/20 20:44      1
2/12/20 10:20      1
2/12/20 22:00      1
2/13/20 10:00      1
2/13/20 21:15      0
2/14/20 11:23      0
dtype: int64

In [45]:
df_conf.head()
df_rcvrd.head()
df_death.head()

,Province/State,Country/Region,Lat,Long,1/21/20 22:00,1/22/20 12:00,1/23/20 12:00,1/24/20 0:00,1/24/20 12:00,1/25/20 0:00,...,2/9/20 23:20,2/10/20 10:30,2/10/20 19:30,2/11/20 10:50,2/11/20 20:44,2/12/20 10:20,2/12/20 22:00,2/13/20 10:00,2/13/20 21:15,2/14/20 11:23
0,Anhui,Mainland China,31.82571,117.2264,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,4.0,4.0,4.0,5.0,5.0,6,6
1,Beijing,Mainland China,40.18238,116.4142,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3,3
67,"Boston, MA",US,42.36010,-71.0589,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
46,British Columbia,Canada,49.28270,-123.1210,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
35,"Chicago, IL",US,40.63310,-89.3985,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,NaN,Sweden,60.12820,18.6435,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
38,NaN,Thailand,13.75630,100.5018,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
61,NaN,UK,55.37810,-3.4360,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
56,NaN,United Arab Emirates,23.42410,53.8478,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
41,NaN,Vietnam,21.02780,105.8342,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

## Melting Datasets

In [43]:
cdf=df_conf.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'],var_name='Date',value_name='Confirmed')
rdf=df_rcvrd.melt(id_vars = ['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='Date',value_name='Recovered')
ddf=df_death.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'],var_name='Date',value_name='Death')

## Merging datasets

In [49]:
crdf=cdf.merge(rdf, on=['Province/State', 'Country/Region', 'Lat', 'Long','Date'])
crddf=crdf.merge(ddf, on=['Province/State', 'Country/Region', 'Lat', 'Long','Date'])

In [52]:
crddf.fillna(0, inplace=True)

In [54]:
crddf.sort_values(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date'])

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Recovered,Death
69,0,Belgium,50.50390,4.4699,1/21/20 22:00,0.0,0.0,0.0
143,0,Belgium,50.50390,4.4699,1/22/20 12:00,0.0,0.0,0.0
217,0,Belgium,50.50390,4.4699,1/23/20 12:00,0.0,0.0,0.0
291,0,Belgium,50.50390,4.4699,1/24/20 0:00,0.0,0.0,0.0
365,0,Belgium,50.50390,4.4699,1/24/20 12:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2324,Zhejiang,Mainland China,29.18251,120.0985,2/7/20 22:50,1048.0,127.0,0.0
2398,Zhejiang,Mainland China,29.18251,120.0985,2/8/20 10:24,1048.0,175.0,0.0
2472,Zhejiang,Mainland China,29.18251,120.0985,2/8/20 23:04,1075.0,185.0,0.0
2546,Zhejiang,Mainland China,29.18251,120.0985,2/9/20 10:30,1075.0,201.0,0.0
2620,Zhejiang,Mainland China,29.18251,120.0985,2/9/20 23:20,1092.0,201.0,0.0

## Saving Dataser

In [57]:
crddf.to_csv('Covid/Combined.csv')

## Convert Data to GeoDataFrame

In [ ]:
gdp